<section class="advantages">
  <div class="container container-advantages">
    <h2 class="advantages-subtitle">Переваги</h2>
    <h1 class="advantages-title">Чому обрати нас?</h1>
    <p class="advantages-lead">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>

    <ul class="advantages-item">
      <li class="advantages-item-list">
        <img class="" srcset="" alt="" src="" width="" height="" />
        <h3 class="advantages-item-list-title">Стійкість та екологічність</h3>
        <p class="advantages-item-list-lead">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-item-list">
        <img class="" srcset="" alt="" src="" width="" height="" />
        <h3 class="advantages-item-list-title">Міцність і довговічність</h3>
        <p class="advantages-item-list-lead">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-item-list">
        <img class="" srcset="" alt="" src="" width="" height="" />
        <h3 class="advantages-item-list-title">Стильний та сучасний дизайн</h3>
        <p class="advantages-item-list-lead">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
