<section class="feedbacks">
  <div class="container">

    <h2 class="page-title"> Що говорять наші клієнти</h2>






    <ul class="feedback-list">
      <li class="feedback-person">

        <div class="stars-img">
          <ul class="star-list">

            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>

            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
          </ul>
        </div>


        <div class="feedback-overlay">

          <p class="feedback-text">Сумка дуже зручна та стильна, використовую щодня!!</p>

          <h3 class="feedback-person-name">Анна</h3>
        </div>
      </li>
      <li class="feedback-person">

        <div class="stars-img">
          <ul class="star-list">

            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
          </ul>
        </div>


        <div class="feedback-overlay">

          <p class="feedback-text">Відмінна якість матеріалів, приємно здивована.</p>

          <h3 class="feedback-person-name">Ігор</h3>
        </div>
      </li>

      <li class="feedback-person">

        <div class="stars-img">
          <ul class="star-list">

            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
          </ul>
        </div>


        <div class="feedback-overlay">

          <p class="feedback-text">Сумка повністю відповідає опису, рекомендую!</p>

          <h3 class="feedback-person-name">Олена</h3>
        </div>
      </li>

      <!-------- last-child -------->
      <li class="feedback-person">

        <div class="stars-img">
          <ul class="star-list">

            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star-fillled"></use>
              </svg>


            </li>
            <li class="stars-icon-place">
              <svg class="stars-icon" width="20" height="21">
                <use href="../img/icons.svg#star"></use>
              </svg>


            </li>
          </ul>
        </div>


        <div class="feedback-overlay">

          <p class="last-feedback-text">Швидка доставка та гарне обслуговування.</p>

          <h3 class="last-feedback-person-name">Сергій</h3>
        </div>
      </li>




    </ul>
  </div>
</section>