.about {
    padding-top: 64px;
    padding-bottom: 64px;
    background-image: url("../img/about/about-mob.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .about {
        background-image: url("../img/about/about-mob-2x.webp");
    }
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-title {
    margin-bottom: 12px;
    font-family: "Fira Sans", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
}

.about-subtitle {
    margin-bottom: 20px;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        color: #fff;
}

.about-text {
    font-family: "Fira Sans", sans-serif;
        font-size: 16px;
        line-height: 1.6;
        color: #fff;
}

@media screen and (min-width: 768px) {
    .about {
        padding-top: 80px;
        padding-bottom: 80px;
        background-image: url("../img/about/about-tab.webp");
        
    }

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .about {
                background-image: url("../img/about/about-tab-2x.webp");
            }
        }

    .about-title {
        margin-bottom: 16px;
    }

    .about-subtitle {
        margin-bottom: 24px;
    }
    
        .about-text {
            max-width: 573px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .about {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: url("../img/about/about-desctop.webp");
    }

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .about {
        background-image: url("../img/about/about-desctop-2x.webp");
    }
}

.about .container {
    width: 768px;
}

.about-subtitle {
    font-size: 56px;
}
    
}