h1, h2, h3{
    font-family: "Comfortaa", sans-serif;
}

p{
    font-family: "Fira Sans", sans-serif;
}




.advantages{
    background-color: #ebf8ed;
}

.container-advantages{
    padding: 32px 16px;
}

.advantages-subtitle {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #030a06;
    margin-bottom: 12px;
}

.advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
    margin-bottom: 20px;
}

.advantages-lead {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
    margin-bottom: 48px;
}

.advantages-item{
    display: flex;
    flex-direction: column;
    gap: 48px;
    flex-wrap: wrap;
}



.advantages-pictr img{
    border-radius: 32px;
    display: block;
    overflow: hidden;
}

.advantages-item-list-foto{
    margin-bottom: 8px;
}

.advantages-item-list-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030a06;

    margin-bottom: 4px;
}

.advantages-item-list-lead {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}


@media only screen and (min-width: 768px){
.container-advantages {
    padding: 64px 32px;
 }

 .advantages-lead{
    font-size: 18px;
    margin-bottom: 32px;
 }

 .advantages-subtitle{
    margin-bottom: 16px;
 }

 .advantages-title{
    margin-bottom: 24px;
 }
 .advantages-item {
     flex-direction: row;
     flex-wrap: wrap;
     gap: 24px;
 }

 .advantages-item-list {
     width: calc((100% - 24px) / 2);
 }

 .advantages-item-list-title{
    margin-bottom: 8px;
 }

 .advantages-item-list-title-two{
    margin-bottom: 42px;
 }

 .advantages-pictr img{
    margin-bottom: 32px;
 }

 .advantages-pictr img {
     width: 100%;
 }

 .advantages-item-list.advantages-pictr-three {
     width: 100%;
     flex-shrink: 0;
 }
}



@media only screen and (min-width: 1440px){
.container-advantages{
    padding: 64px 64px;
}

.advantages-title{
    font-size: 48px;
}

 .advantages-lead {
     margin-bottom: 80px;
     max-width: 714px;
 }

 .advantages-item{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
 }

 .advantages-item-list{
    width: calc((100% - 96px) / 3);
 }


.advantages-item-list{
    width: 421px;
}

 .advantages-pictr{
    margin-bottom: 32px;
 }

 .advantages-item-list-title{
    font-size: 32px;
    margin-bottom: 24px;
 }

 .advantages-item-list.advantages-pictr-three {
     width: 421px;
     flex-shrink: 1;
 }
}