.feedbacks {
    padding: 32px 0;
    min-width: 320px;
    height: 918px;
    background: #ebf8ed;
}

.page-title {
    width: 288px;
    height: 86px;

    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #030a06;

    margin-left: 16px;
}


.feedback-list {
    width: 288px;
    height: 736px;
    margin-left: 16px;
    margin-top: 32px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;

    gap: 40px;

}

.feedback-person {
    width: 288px;
    height: 158px;
    min-width: 280px;



}


.feedback-person:last-child {

    width: 288px;
    height: 142px;
    min-width: 280px;
}

/* star */
.stars-img {
    width: 136px;
    height: 24px;

}

.stars-icon {
    fill: #3ac04c;
}

.star-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    width: 136px;
    height: 24px;



}

.stars-icon-place {
    width: 24px;


}

.stars-img {
    width: 136px;
    height: 24px
}

/* star end */

.feedback-text {

    margin-top: 12px;
    margin-bottom: 12px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030a06;
}

.last-feedback-text {
    padding-top: 24px;
    padding-bottom: 12px;

    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030a06;
}



.feedback-person-name {
    width: 288px;
    height: 26px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}